.homepageWrapper {
  background-color: #bec8d5;
  margin: 0;
  /* width: 100%; */
  min-height: 3300px;
}
.NickieJumping {
  position: absolute;
  width: 235px;
  height: 832px;
  left: 610px;
  top: 0px;
  z-index: 100;
}
