.socialWrapper {
  position: absolute;
  width: 390px;
  height: 108px;
  right: 0;
  top: 536px;

  background: #ffffff;
  border-radius: 50px 0px 0px 50px;
}
.socialDetails {
    padding: 2rem 3rem;
    display: flex;
}
.socialDetails > a {
    padding: 0 1rem;
}
@media (max-width: 368px) {
  .socialWrapper {
    left: 0;
    border-radius: 0px 50px 50px 0px;
  }
}
