.toolsImageNicanor {
  position: absolute;
  width: 429px;
  height: 512px;
  left: 131px;
  top: 1512px;
  z-index: 3;
}
.toolsTitle {
  font-family: Nunito;
  font-style: normal;
}
.toolsTitle1 {
  position: absolute;
  width: 92px;
  height: 27px;
  left: 830px;
  top: 1500px;

  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #3347ff;
}
.toolsTitle2 {
  position: absolute;
  width: 453px;
  height: 46px;
  left: 667px;
  top: 1522px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;

  color: #3e3f43;
}
.toolsHandPointerWrapper {
  position: absolute;
  width: 428px;
  height: 105px;
  left: 656px;
  top: 1705px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
.toolsItem-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}
.toolsHandPointer-text {
  margin-top: 2rem;
}
.toolsActive-text {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-top: 0;
}
.toolsActive-tool {
  margin: 0.2rem 0.4rem;
  padding: 0.1rem 0.6rem;
  border-radius: 15px;
  background-color: #ebebeb;
}
.toolsHandPointer-image {
  position: absolute;
  padding-left: 0.7rem;
}
.toolsImageRoadmapArrow {
  position: absolute;
  width: 814px;
  height: 406px;
  left: 520px;
  top: 1630px;
  z-index: 2;
}
.inactiveItem {
  opacity: 0.4;
}
@media (max-width: 768px) {
  .skillsWrapper {
    left: 182px;
  }
}
@media (max-width: 568px) {
  .skillsWrapper {
    left: 122px;
  }
}
@media (max-width: 368px) {
  .toolsTitle1 {
    width: 92px;
    height: 27px;
    left: 120px !important;
    top: 1770px !important;
  }
  .toolsTitle2 {
    width: 453px;
    height: 46px;
    left: 67px;
    top: 1792px;
    font-size: 22px;
  }
  .toolsImageNicanor {
    display: none;
  }
  .toolsTitle1 {
    left: 20px;
  }
  .toolsTitle2 {
    left: 25px;
  }
  .toolsImageRoadmapArrow {
    top: 1830px;
    left: 10px;
    width: 300px;
    height: 406px;
  }
  .toolsHandPointerWrapper {
    width: 200px;
    height: 205px;
    left: 17px;
    top: 1860px;

  }
  .toolsHandPointer-text {
    margin-top: 1rem;
  }
}
