.toolItem1 {
  position: absolute;
  width: 126px;
  height: 148px;
  left: 656px;
  top: 1960px;
  z-index: 5;
}
.toolItem2 {
  position: absolute;
  width: 126px;
  height: 148px;
  left: 886px;
  top: 1915px;
  z-index: 5;
}
.toolItem3 {
  position: absolute;
  width: 126px;
  height: 148px;
  left: 1073px;
  top: 1819px;
  z-index: 5;
}
.toolItem4 {
  position: absolute;
  width: 124px;
  height: 148px;
  left: 1210px;
  top: 1675px;
  z-index: 5;
}
.toolItem-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.tools-image {
  width: 126px;
  height: 148px;
}
@media (max-width: 368px) {
  .toolItem1 {
    left: 40px;
    top: 2080px;
  }
  .toolItem1 > p,
  .toolItem2 > p,
  .toolItem3 > p,
  .toolItem4 > p {
    margin-block-start: 0px;
    font-size: 14px;
  }
  .toolItem2 {
    left: 120px;
    top: 2068px;
  }
  .toolItem3 {
    left: 190px;
    top: 2038px;
  }
  .toolItem4 {
    left: 250px;
    top: 1990px;
  }
  .tools-image {
    width: 46px;
    height: 48px;
  }
}
