.footer {
  position: absolute;
  width: 100%;
  height: 108px;
  top: 2254px;
}
.footer-text {
  position: absolute;
  width: 119px;
  height: 66px;
  left: 52px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.footer-hrLine {
  position: absolute;
  width: 85%;
  height: 0px;
  left: 169px;
  top: 32%;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.footer-contacts {
    position: absolute;
    height: 108px;
    right: 0;
    background: #FFFFFF;
    border-radius: 50px 0px 0px 50px;
    margin-top: -1rem;
}
.footer-contacts-mail {
    padding: 2rem 5rem;
}
@media (max-width: 368px) {
  .footer {
    top: 3394px;
  }
  .footer-text {
    width: 119px;
    height: 66px;
    left: 32px;
    font-size: 20px;
  }
}
